# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
# Virtual Environment
venv/
.venv/

# Dataset
dataset/
dataset.zip
SmartRoadAI_Dataset.zip

# Model Files
*.pth
*.pt

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db